name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [ opened, reopened, synchronize, edited ]
    branches:
      - main
      - test-pr
      - test-pr-2

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: 'Checkout repository on branch: ${{ github.REF }}'
      uses: actions/checkout@v2
      with:
        ref: ${{ github.HEAD_REF }}
        fetch-depth: 0
    
    - name: Retrieve entire repository history
      run: |
        git fetch --prune --unshallow
      continue-on-error: true

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: |
        cd cloudfront
        npm install
    - name: npm ci
      run: |
        cd cloudfront
        npm ci
    - name: npm run build --if-present
      run: |
        cd cloudfront
        npm run build --if-present
      continue-on-error: true
    - name: npm run test
      run: |
        cd cloudfront
        npm run test
      continue-on-error: true
    - name: npm run lint
      run: |
        cd cloudfront
        npm run linthtml
        npm run lintjson

    - name: Upload code coverage report
      uses: actions/upload-artifact@v2
      with:
        name: code-coverage-report
        path: cloudfront/output/coverage/jest/lcov-report/index.html

    - name: Change eslint file paths to relative paths
      run: |
        cd cloudfront/output
        sed -i "s+/home/runner/work/cdk-templates/cdk-templates+/github/workspace+g" "eslint-report.json"

    - name: Upload lint report
      uses: actions/upload-artifact@v2
      with:
        name: lint-report
        path: |
          cloudfront/output/eslint-report.html
          cloudfront/output/eslint-report.json

    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONARCLOUD_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: >
          -Dsonar.qualitygate.wait=true
          -Dsonar.scm.provider=git
         # -Dsonar.branch.name=test-pr-2
          -Dsonar.javascript.lcov.reportPaths=cloudfront/output/coverage/jest/lcov.info
          -Dsonar.eslint.reportPaths=cloudfront/output/eslint-report.json
          -Dsonar.pullrequest.key=${{ github.event.number }}
          -Dsonar.pullrequest.branch=${{ github.HEAD_REF }}
          -Dsonar.pullrequest.base=${{ github.BASE_REF }}
          -Dsonar.pullrequest.github.repository=${{ github.repository }}
      if: always()
      
    - name: Insert Quality Gate markdown in README
      uses: muesli/readme-scribe@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          template: "cloudfront/templates/README.md.tpl"
          writeTo: "README.md"
      if: always()
    
    - name: Auto commit README
      uses: stefanzweifel/git-auto-commit-action@v4
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        commit_message: Update generated README
        branch: test-pr-2
        commit_user_name: staizen-kevin-roma
        commit_user_email: kevin.roma@staizen.com
        commit_author: staizen-kevin-roma <kevin.roma@staizen.com>
      if: always()