name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: 'Checkout repository on branch: ${{ github.REF }}'
      uses: actions/checkout@v2
      with:
        ref: ${{ github.HEAD_REF }}

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd cloudfront
    - run: npm install
    - run: npm ci
    - run: npm run build --if-present
    - run: npm run test

    - name: Retrieve entire repository history
      run: |
        git fetch --prune --unshallow
    
    - name: SonarCloud Scan
      uses: sonarsource/sonarqube-scan-action@master
      with:
        args: >
          -Dsonar.qualitygate.wait=true
          -Dsonar.scm.provider=git
          -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
    
    - name: Upload JaCoCo coverage report
      uses: actions/upload-artifact@v2
      with:
        name: jacoco-report
        path: cloudfront/output/coverage/jest/lcov.info